<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/"><img class="main-logo" src="/img/logo/logoEshop.jpg" alt="" width="150px" height="=150px" /></a>
            <strong><img src="/img/logo/logosn.png" alt="" /></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a class="has-arrow" href="http://localhost:3000/">
                            <i class="fa big-icon fa-home icon-wrap"></i>
                            <span class="mini-click-non">Quản lý tài khoản</span>
                        </a>
                        <ul class="submenu-angle" aria-expanded="true">
                            <li><a title="danh_sach_tai_khoan" href="danh_sach_tai_khoan"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Danh sách tài khoản</span></a></li>
                            <li><a title="danh-sach-cho-duyet" href="danh_sach_cho_duyet"><i class="fa fa-female sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Danh sách chờ duyệt</span></a></li>
                            <li><a title="thay-doi-thong-tin" href="thay_doi_thong_tin"><i class="fa fa-bolt sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Thay đổi thông tin</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="quan_ly_cua_hang" aria-expanded="false"><i class="fa big-icon fa-envelope icon-wrap"></i> <span class="mini-click-non">Quản lý cửa hàng</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="danh-sach-cua-hang" href="danh_sach_cua_hang"><i class="fa fa-inbox sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Danh sách cửa hàng</span></a></li>
                            <li><a title="danh-sach-san-pham" href="danh_sach_san_pham"><i class="fa fa-television sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Danh sách sản phẩm</span></a></li>
                            <li><a title="danh-sach-san-pham" href="danh_sach_loai_san_pham"><i class="fa fa-television sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Danh sách loại sản phẩm</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.ejs" aria-expanded="false"><i class="fa big-icon fa-flask icon-wrap"></i> <span class="mini-click-non">Quản lý đơn hàng</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="don-hang" href="don_hang"><i class="fa fa-level-down sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Đơn hàng</span></a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.ejs" aria-expanded="false"><i class="fa big-icon fa-pie-chart icon-wrap"></i> <span class="mini-click-non">Thống kê</span></a>
                        <ul class="submenu-angle" aria-expanded="false">
                            <li><a title="thong-ke-doanh-so" href="thong_ke_doanh_so"><i class="fa fa-folder sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Thống kê doanh số</span></a></li>
                            <li><a title="top-10-cua-hang" href="top_10_cua_hang"><i class="fa fa-square sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Top 10 cửa hàng</span></a></li>
                            <li><a title="top-10-san-pham" href="top_10_san_pham"><i class="fa fa-tags sub-icon-mg" aria-hidden="true"></i> <span class="mini-sub-pro">Top 10 sản phẩm</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>