<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">
                            <li><a data-toggle="collapse" data-target="#Charts" href="http://localhost:3000/">Quản lý tài khoản <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="danh-sach-tai-khoan">Danh sách tài khoản</a></li>
                                    <li><a href="danh-sach-cho-duyet">Danh sách chờ duyệt</a></li>
                                    <li><a href="thay-doi-thong-tin">Thay đổi thông tin</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#demo" href="#">Quản lý cửa hàng <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="demo" class="collapse dropdown-header-top">
                                    <li><a href="danh-sach-cua-hang">Danh sách cửa hàng</a>
                                    </li>
                                    <li><a href="danh-sach-san-pham">Danh sách sản phẩm</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#others" href="#">Quản lý đơn hàng <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="others" class="collapse dropdown-header-top">
                                    <li><a href="don-hang">Đơn hàng</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Thống kê <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                    <li><a href="thong-ke-doanh-so">Thống kê doanh số</a>
                                    </li>
                                    <li><a href="top-10-cua-hang">Top 10 cửa hàng</a>
                                    </li>
                                    <li><a href="top-10-san-pham">Top 10 sản phẩm</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>