<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title Page-->
    <title>Đăng ký</title>
    <%include partials/Colorlib/header.ejs%>
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Đăng ký</h2>

                    <form method="POST" action="/Dang_ky">
                        <div class="row row-space">
                            <p style="color: red"><%=title%></p>
                        </div>
                        <div class="row row-space">
                            <div class="input-group">
                                <label class="label">Tên đăng nhập</label>
                                <input class="input--style-4" type="text" id="name" name="name">
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Mật khẩu</label>
                                    <input class="input--style-4" type="password" id="password" name="password" >
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Nhập lại mật khẩu</label>
                                    <input class="input--style-4" type="password" id="passwordReEnter" name="passwordReEnter">
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Ngày sinh</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="date" id="date" name="date">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" id="email" name="email">
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Số điện thoại</label>
                                    <input class="input--style-4" type="text" id="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Đồng ý</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%include partials/Colorlib/js.ejs%>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->