<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi ( ^ o ^ ) !!!</p>
  </body>
</html>
