<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title>Đăng nhập</title>-->
<!--	-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--	<div class="d-flex justify-content-center h-100">-->
<!--		<div class="card">-->
<!--			<div class="card-header">-->
<!--				<h3>Đăng nhập</h3>-->
<!--				<div class="d-flex justify-content-end social_icon">-->
<!--					<span><i class="fab fa-facebook-square"></i></span>-->
<!--					<span><i class="fab fa-google-plus-square"></i></span>-->
<!--					<span><i class="fab fa-twitter-square"></i></span>-->
<!--				</div>-->
<!--			</div>-->
<!--			<div class="card-body">-->
<!--				<form action="/login" method="POST" >-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--						</div>-->
<!--						<input type="text" id="usename" name="usename" class="form-control" placeholder="tên đăng nhập">-->
<!--						-->
<!--					</div>-->
<!--					<div class="input-group form-group">-->
<!--						<div class="input-group-prepend">-->
<!--							<span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--						</div>-->
<!--						<input type="password" id="password" name="password" class="form-control" placeholder="mật khẩu">-->
<!--					</div>-->
<!--					<div class="row align-items-center remember">-->
<!--						<input type="checkbox">Nhớ tài khoản-->
<!--					</div>-->
<!--					<div class="form-group">-->
<!--						<input type="submit" class="btn float-right login_btn" value="Đăng nhập">-->
<!--					</div>-->
<!--				</form>-->
<!--			</div>-->
<!--			<div class="card-footer">-->
<!--				<div class="d-flex justify-content-center">-->
<!--					<p style="color: red"><%=errorText%></p>-->
<!--				</div>-->
<!--				<div class="d-flex justify-content-center links">-->
<!--					<br><br>  Chưa có tài khoản? <a href="/signin">  <br><br>Đăng ký ngay</a>-->
<!--				</div>-->
<!--				<div class="d-flex justify-content-center">-->
<!--					<a href="forgot"><br>Quên mật khẩu?</a>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html>
<head>
	<title>Đăng nhập</title>
	<%include partials/Mutiullah_Samim/header.ejs%>
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Đăng nhập</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form action="/Dang_nhap" method="POST">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" id="username" name="username" class="form-control" placeholder="username">

					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" id="password" name="password" class="form-control" placeholder="password">
					</div>

					<div class="form-group">
						<input type="submit" class="btn float-right login_btn" value="Enter" >
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<p style="color: red"><%=errorText%></p>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/Dang_ky" style="color: white"><br >Đăng kí</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/Quen_mat_khau" style="color: white"><br >Quên mật khẩu</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>