<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>danh-sach-cho-duyet</title>
    <%include partial/head.ejs%>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<%include partial/menu.ejs%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="/"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <%include partial/header.ejs%>
        <!-- Mobile Menu start -->
        <%include partial/mobile.ejs%>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list single-page-breadcome">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ul class="breadcome-menu">
                                        <li><a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Danh sách chờ duyệt</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------BODY----------->
    <div class="product-status mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Danh sách tài khoản</h4>
                        <table>
                            <tr>
                                <th>Stt</th>
                                <th>Hình ảnh</th>
                                <th>Tên</th>
                                <th>Mã số</th>
                                <th>Mail</th>
                                <th>SĐT</th>
                                <th>Xác nhận</th>
                            </tr>

                            <% for(var i = 0; i < list_items.length; i++) { %>
                                <tr>
                                    <td><%= list_items[i].name %></td>
                                    <td><%= list_items[i].password %></td>
                                   // <td><a href="<%= list_items[i].url %>">Thay đổi thông tin</a></td>
                                   // <td><a href= <%= list_items[i].delete_url%>>Xóa</a></td>
                                </tr>
                            <% }; %>
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <td>1</td>-->
<!--                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>-->
<!--                                <td>Người dùng 10000001</td>-->
<!--                                <td>ND10000001</td>-->
<!--                                <td>ng1000001@gmail.com </td>-->
<!--                                <td>0126547890</td>-->
<!--                                <td>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Duyệt" class="pd-setting-ed">Duyệt</button></a>-->
<!--                                    <a href="#"><button data-toggle="tooltip" title="Hủy" class="pd-setting-ed">Hủy</button></a>-->
<!--                                </td>-->
<!--                            </tr>-->
                        </table>
                        <div class="custom-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%include partial/footer.ejs%>
</div>

<!-- jquery
    ============================================ -->
<%include partial/script.ejs%>
</body>

</html>