
<!doctype html>
<html class="no-js" lang="en">

<head>
  <% include partial/head.ejs %>
  <title>Trang chủ</title>

</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!------------------------------START------------------------------>
<%include partial/menu.ejs%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="logo-pro">
          <a href=""><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-advance-area">
    <%include partial/header.ejs%>
    <!-- Mobile Menu start -->
    <%include partial/mobile.ejs%>
    <!-- Mobile Menu end -->
    <div class="breadcome-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="breadcome-list">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                  <div class="breadcome-heading">
                    <form role="search" class="">
                      <input type="text" placeholder="Search..." class="form-control">
                      <a href=""><i class="fa fa-search"></i></a>
                    </form>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------BODY----------------------------->
  <div class="section-admin container-fluid">
    <div class="row admin text-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="admin-content analysis-progrebar-ctn res-mg-t-15">
              <h4 class="text-left text-uppercase"><b>Doanh số</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="col-xs-3 mar-bot-15 text-left">
                  <label class="label bg-green">30% <i class="fa fa-level-up" aria-hidden="true"></i></label>
                </div>
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin">$1.000,000</h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div style="width: 78%;" class="progress-bar bg-green"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="margin-bottom:1px;">
            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
              <h4 class="text-left text-uppercase"><b>Sản phẩm</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="text-left col-xs-3 mar-bot-15">
                  <label class="label bg-red">15% <i class="fa fa-level-down" aria-hidden="true"></i></label>
                </div>
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin">1.150.351</h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div style="width: 38%;" class="progress-bar progress-bar-danger bg-red"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
              <h4 class="text-left text-uppercase"><b>Đơn hàng</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="text-left col-xs-3 mar-bot-15">
                  <label class="label bg-blue">50% <i class="fa fa-level-up" aria-hidden="true"></i></label>
                </div>
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin">3.570,210</h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div style="width: 60%;" class="progress-bar bg-blue"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="admin-content analysis-progrebar-ctn res-mg-t-30">
              <h4 class="text-left text-uppercase"><b>Người dùng</b></h4>
              <div class="row vertical-center-box vertical-center-box-tablet">
                <div class="text-left col-xs-3 mar-bot-15">
                  <label class="label bg-purple">80% <i class="fa fa-level-up" aria-hidden="true"></i></label>
                </div>
                <div class="col-xs-9 cus-gh-hd-pro">
                  <h2 class="text-right no-margin">100,000</h2>
                </div>
              </div>
              <div class="progress progress-mini">
                <div style="width: 60%;" class="progress-bar bg-purple"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-sales-chart">
            <div class="portlet-title">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="caption pro-sl-hd">
                    <span class="caption-subject text-uppercase"><b>Doanh thu</b></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="actions graph-rp">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-grey active">
                        <input type="radio" name="options" class="toggle" id="option1" checked="">Hôm nay</label>
                      <label class="btn btn-grey">
                        <input type="radio" name="options" class="toggle" id="option2">Tuần này</label>
                      <label class="btn btn-grey">
                        <input type="radio" name="options" class="toggle" id="option3">Năm nay</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sparklinehome" class="sparkline-container">Loading..</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="product-new-list-area">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h4 class="text-left text-uppercase"><b>Sản phẩm được yêu thích nhất</b></h4>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="single-new-trend mg-t-30">
            <a href="#"><img src="/img/new-product/5.jpg" alt=""></a>
            <div class="overlay-content">
              <a href="#">
                <h2>$280</h2>
              </a>
              <a href="#" class="btn-small">Now</a>
              <div class="product-action">
                <ul>
                  <li>
                    <a data-toggle="tooltip" title="Shopping" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a data-toggle="tooltip" title="Quick view" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
              <a href="#">
                <h4>Princes Diamond</h4>
              </a>
              <div class="pro-rating">
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="single-new-trend mg-t-30">
            <a href="#"><img src="/img/new-product/6.jpg" alt=""></a>
            <div class="overlay-content">
              <a href="#">
                <h2>$280</h2>
              </a>
              <a href="#" class="btn-small">Now</a>
              <div class="product-action">
                <ul>
                  <li>
                    <a data-toggle="tooltip" title="Shopping" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a data-toggle="tooltip" title="Quick view" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
              <a href="#">
                <h4>Princes Diamond</h4>
              </a>
              <div class="pro-rating">
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="single-new-trend mg-t-30">
            <a href="#"><img src="/img/new-product/7.jpg" alt=""></a>
            <div class="overlay-content">
              <a href="#">
                <h2>$280</h2>
              </a>
              <a href="#" class="btn-small">Now</a>
              <div class="product-action">
                <ul>
                  <li>
                    <a data-toggle="tooltip" title="Shopping" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a data-toggle="tooltip" title="Quick view" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
              <a href="#">
                <h4>Princes Diamond</h4>
              </a>
              <div class="pro-rating">
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
          <div class="single-new-trend mg-t-30">
            <a href="#"><img src="/img/new-product/5.jpg" alt=""></a>
            <div class="overlay-content">
              <a href="#">
                <h2>$280</h2>
              </a>
              <a href="#" class="btn-small">Now</a>
              <div class="product-action">
                <ul>
                  <li>
                    <a data-toggle="tooltip" title="Shopping" href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a data-toggle="tooltip" title="Quick view" href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  </li>
                </ul>
              </div>
              <a href="#">
                <h4>Princes Diamond</h4>
              </a>
              <div class="pro-rating">
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star color"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="product-sales-chart">
            <div class="portlet-title">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="caption pro-sl-hd">
                    <span class="caption-subject text-uppercase"><b>Tổng đơn hàng mỗi năm</b></span>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="actions graph-rp">
                  </div>
                </div>
              </div>
            </div>
            <div id="extra-area-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4 class="text-left text-uppercase"><b>Thành viên mới</b></h4>
  </div>
  <div class="author-area-pro">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="personal-info-wrap">
            <div class="widget-head-info-box">
              <div class="persoanl-widget-hd">
                <h2>Jon Royita</h2>
                <p>Founder of Uttara It Park</p>
              </div>
              <img src="/img/notification/5.jpg" class="img-circle circle-border m-b-md" alt="profile">
              <div class="social-widget-result">
                <span>100 Tweets</span> |
                <span>350 Following</span> |
                <span>610 Followers</span>
              </div>
            </div>
            <div class="widget-text-box">
              <h4>Jhon Royita</h4>
              <p>To all the athaists attacking me right now, I can't make you believe in God, you have to have faith.</p>
              <div class="text-right like-love-list">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="author-widgets-single res-mg-t-30">
            <div class="author-wiget-inner">
              <div class="perso-img">
                <img src="/img/notification/6.jpg" class="img-circle circle-border m-b-md" alt="profile">
              </div>
              <div class="persoanl-widget-hd persoanl1-widget-hd">
                <h2>Fire Foxy</h2>
                <p>Founder of Uttara It House</p>
              </div>
              <div class="social-widget-result social-widget1-result">
                <span>100 Tweets</span> |
                <span>350 Following</span> |
                <span>610 Followers</span>
              </div>
            </div>
            <div class="widget-text-box">
              <h4>Fire Foxy</h4>
              <p>To all the athaists attacking me right now, I can't make you believe in God, you have to have faith.</p>
              <div class="text-right like-love-list">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <div class="personal-info-wrap personal-info-ano res-mg-t-30">
            <div class="widget-head-info-box">
              <div class="persoanl-widget-hd">
                <h2>Jon Royita</h2>
                <p>Founder of Uttara It Park</p>
              </div>
              <img src="/img/contact/2.jpg" class="img-circle circle-border m-b-md" alt="profile">
              <div class="social-widget-result">
                <span>100 Tweets</span> |
                <span>350 Following</span> |
                <span>610 Followers</span>
              </div>
            </div>
            <div class="widget-text-box">
              <h4>Jhon Royita</h4>
              <p>To all the athaists attacking me right now, I can't make you believe in God, you have to have faith.</p>
              <div class="text-right like-love-list">
                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                <a class="btn btn-xs btn-primary"><i class="fa fa-heart"></i> Love</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%include partial/footer.ejs%>>
</div>
<%include partial/script.ejs%>
</body>

</html>