<!doctype html>
<html class="no-js" lang="en">

<head>
    <title>top-10-cua-hang</title>
    <%include partial/head.ejs%>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<%include partial/menu.ejs%>
<!-- Start Welcome area -->
<div class="all-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="logo-pro">
                    <a href="/"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-advance-area">
        <%include partial/header.ejs%>
        <!-- Mobile Menu start -->
        <%include partial/mobile.ejs%>
        <!-- Mobile Menu end -->
        <div class="breadcome-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcome-list single-page-breadcome">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="breadcome-heading">
                                        <form role="search" class="">
                                            <input type="text" placeholder="Search..." class="form-control">
                                            <a href=""><i class="fa fa-search"></i></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ul class="breadcome-menu">
                                        <li><a href="#">Trang chủ</a> <span class="bread-slash">/</span>
                                        </li>
                                        <li><span class="bread-blod">Top 10 cửa hàng</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------BODY----------->
    <div class="product-status mg-tb-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="product-status-wrap">
                        <h4>Danh sách cửa hàng</h4>
                        <div class="add-product">
                            <a href="thay-doi-thong-tin">Thay đổi thông tin</a>
                        </div>
                        <table>
                            <tr>
                                <th>stt</th>
                                <th>Hình ảnh</th>
                                <th>Tên cửa hàng</th>
                                <th>Mã số</th>
                                <th>Email</th>
                                <th>Tổng giao dịch</th>
                                <th>Tổng tiền giao dịch</th>
                                <th>Hoạt động <i>/tháng</i></th>
                                <th>Sản phẩm</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td><img src="/img/new-product/5-small.jpg" alt="" /></td>
                                <td>Tiêm vàng ABC</td>
                                <td>CH0001</td>
                                <td>tiemvangabc@gmail.com</td>
                                <td>50</td>
                                <td>$750</td>
                                <td>11</td>
                                <td>
                                    <a href="danh-sach-san-pham"><button data-toggle="tooltip" title="sản phẩm" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%include partial/footer.ejs%>
</div>

<!-- jquery
    ============================================ -->
<%include partial/script.ejs%>
</body>

</html>