<div class="header-area">
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                </div>     
                <div class="col-md-8">
                    <div class="header-right">
                        <ul class="list-unstyled list-inline">



                            <%if (user){%>
                            <li><a href="Sua_thong_tin"><i class="fa fa-user"></i><%=user.name%></a></li>

                            <li><a href="Dang_xuat"><i class="fa fa-user"></i> Đăng xuất</a></li>


                            <%}else{%>
                            <li><a href="Dang_nhap"><i class="fa fa-user"></i> Đăng nhập</a></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>